
body{
  background-color: #1a1919;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Header*/
.head{
  margin-top: 3%;
}


h1{
  color: rgb(255, 255, 255);
}

p{
  width: 63%;
  color: rgb(197, 197, 197);
  font-size: large;
}


/* form */

.form-container {
  color: white;
}

fieldset{
  font-size: large;
  width: 50%;
  margin: 4%;
  padding-top: 3%;
  padding-bottom: 4%;
  text-align: left;
  color: rgb(197, 197, 197);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-size: medium;
  margin: 0 auto;
}

label {
  color: #fff;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
}

.status{
  color: rgb(0, 156, 0);
}

/* Footer */
.foot-text {
  position: relative;
  bottom: 20px;
  color: #616161;
  font-size: medium;
}