@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #ffffff;
}

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* cursor: none; */
}