@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #f6f6f6;
  --secondary-color: #f87171;
  --darker-secondary-color: #f05454;
  /* --darker-secondary-color: #ec816b; */
  --white-color: #ffffff;
  --gray-color: #242424;
  --light-gray: #494949;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 5px grey;  */
  background: var(--darker-secondary-color);
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--light-gray);
} */

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* cursor: none; */
}

@layer components {
  .filterInput {
    @apply outline-none w-full bg-[color:var(--white-color)] rounded-lg border-b pl-4 py-3 lg:pl-6 lg:py-4 placeholder-black transition-all !shadow-md;
  }
  .adminDropDownInput {
    @apply outline-none w-full bg-[color:var(--primary-color)] mt-1 rounded-lg border-b pl-4 py-3 lg:pl-4 lg:py-3 placeholder-black transition-all !shadow-md;
  }
}

@layer utilities {
    .rtl {
        direction: rtl;
    }
}

[x-cloak=""] {
    display: none;
}
